@tailwind base;
@tailwind components;
@tailwind utilities;

html , body , #app {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: start;
    background-image: url("https://sfondo.info/i/original/3/c/8/67278.jpg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}